<div> player 1: <%= @player_1 %> </div>
<div> player 2: <%= @player_2 %> </div>
<div> <%= $game.next_turn.name %> <%= $game.next_turn_v.HP %></div>
<div> <%= $game.current_turn_v.name %> <%= $game.current_turn_v.HP %> </div>
<form action="/attack">
<input type="submit" value="Attack!">
</form>
<div> <%= $game.current_turn_v.name %> attacks <%= $game.next_turn_v.name %></div>